/* modal css */
body {font-family: Open Sans, Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.containers {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding: 60px;
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  height: 45em;
  width: 60%; /* Could be more or less, depending on screen size */
}
/* Modal Container/Box */
.modal-container {
  background-image: url("../images/header-image-new.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50em;
  width:auto;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

 #heroTraining {
  background-image: url("../images/splashDefault.jpg");
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
}
#classroomLearning {
  background-image: url("../images/homepageBannerOneDefault.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
#onlineLearning {
  background-image: url("../images/homepageBannerTwoDefault.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
}

#heroCertification {
  background-image: url("../images/DSC1288-1920x400.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
}
#heroConsultancy {
  background-image: url("../images/Transition-1920x400.jpg");
  background-position: left;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh; 
}
.heroH1 {
  background-color: rgba(245, 255, 250, 0.5);
  color: #1B1C1E;
  width: 100%;
  border: 1px;

}
.alert {
  margin-bottom: 1em;
  padding: 10px;
  background: #49b0e7;
  font-family: 'Mukta Mahee', sans-serif;
  font-size: 14px;
  text-align: center;
  color: #fff;
  border-radius: 2.5px;
  display: none;
}
.translates {
  font-size: 15px;
  color: black;
  text-align: left;
  padding: 2px 12px 2px;
  text-decoration: none;
  height: 2.5em;
  width: 15em;
}